</div>
<div class="footer-div">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; Michael Inziani 2023</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="https://web.facebook.com/Michael.Inziani"
          target="_blank"><i class="fa-brands fa-facebook fa-2x" style="color: #1f1cce;"></i></a></li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="https://www.instagram.com/inziani_/"
          target="_blank"><i class="fab fa-instagram fa-2x instagram-color"></i></a></li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="https://twitter.com/Inziani_"
          target="_blank"><i class="fa-brands fa-x-twitter fa-2x" style="color: #0d0f11;"></i></a></li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="https://github.com/MichaelInziani"
          target="_blank"><i class="fa-brands fa-github fa-2x" style="color: #1c1e21;"></i></a></li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary"
          href="https://www.linkedin.com/in/michael-inziani-1b1ba316a/" target="_blank"><i
            class="fa-brands fa-linkedin fa-2x" style="color: #3d68b3;"></i></a></li>
    </ul>

  </footer>
  <div class="designer">
    <span>Developed & Designed By Michael Inziani</span>
  </div>
</div>

</body>

</html>