<%- include("./partials/header"); -%>

<div class="hmpgTopContainer">
<h2 class="welcomeMsg animate-charcter">Hi, Welcome</h2>
<h3 class="myName">I'm Michael Inziani</h3>
<h4 class="profession">An Electrical Engineer, Web Developer and Chinese Translator</h4>
<p class="intro">Vitae et leo duis ut diam quam. Est sit amet facilisis magna etiam tempor orci eu lobortis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Amet massa vitae tortor condimentum lacinia quis vel. Arcu odio ut sem nulla pharetra diam sit amet nisl. </p>
</div>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"> 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/gradPic.jpg" class="d-block w-100" alt="graduation pic">
    </div>
    <div class="carousel-item">
      <img src="../images/Inziani.jpg" class="d-block w-100" alt="Inziani in Shanghai">
    </div>
    <div class="carousel-item">
      <img src="../images/2018.jpg" class="d-block w-100" alt="Inziani 2018 Nanjing">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <%- include("./partials/footer"); -%>