<%- include("./partials/header"); -%>

<div class="hmpgTopContainer">
<h2 class="welcomeMsg animate-charcter">Hi, Welcome</h2>
<h3 class="myName revealUp">I am Michael Inziani, </h3>
<h4 class="profession revealUp">An Electrical Engineer, Web Developer and Chinese Translator</h4>
<p class="intro">Vitae et leo duis ut diam quam. Est sit amet facilisis magna etiam tempor orci eu lobortis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Amet massa vitae tortor condimentum lacinia quis vel. Arcu odio ut sem nulla pharetra diam sit amet nisl. </p>
</div>


  <%- include("./partials/footer"); -%>