<%- include("./partials/header"); -%>

  <div id="services-container">

    <h1 class="services-h1" draggable="true">We are a <span class="multi-profession">Multi-Profession</span> <br />
      Services Agency.</h1>

    <div class="service">
      <img class="service-img" src="../images/web_development.PNG" alt="vs code" />
      <div class="service-content">
        <h2 class="service-title">1. Web Development</h2>
        <p>Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Felis donec et odio
          pellentesque diam volutpat. Enim ut tellus elementum sagittis vitae et leo. A diam maecenas sed enim ut sem
          viverra. Urna porttitor rhoncus dolor purus non enim praesent elementum. In est ante in nibh mauris cursus
          mattis.</p>
      </div>
    </div>

    <div class="service">
      <img class="service-img" src="../images/plc_programming.png" alt="vs code" />
      <div class="service-content">
        <h2 class="service-title">2. PLC Programming</h2>
        <p>Egestas purus viverra accumsan in nisl nisi scelerisque eu. Quis commodo odio aenean sed adipiscing diam.
          Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Felis bibendum ut tristique et. Diam
          donec adipiscing tristique risus nec feugiat in. Aliquam vestibulum morbi blandit cursus. Risus nullam eget
          felis eget nunc lobortis.</p>
      </div>
    </div>

    <div class="service">
      <img class="service-img" src="../images/circuit_design.PNG" alt="vs code" />
      <div class="service-content">
        <h2 class="service-title">3. Circuit Design</h2>
        <p>Aliquam purus sit amet luctus. Diam sollicitudin tempor id eu nisl. Elementum pulvinar etiam non quam. Risus
          feugiat in ante metus dictum at tempor commodo. Dui vivamus arcu felis bibendum ut tristique et egestas.
          Maecenas accumsan lacus vel facilisis. Vitae purus faucibus ornare suspendisse sed nisi. Eu nisl nunc mi ipsum
          faucibus. Dis parturient montes nascetur ridiculus. Sit amet porttitor eget dolor morbi non arcu risus quis.
        </p>
      </div>
    </div>

    <div class="service">
      <img class="service-img" src="../images/pcb-2D.PNG" alt="vs code" />
      <div class="service-content">
        <h2 class="service-title">4. PCB Design</h2>
        <p>Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Nulla pellentesque dignissim enim sit amet. Ac
          auctor augue mauris augue neque gravida in. Quis hendrerit dolor magna eget. Cras semper auctor neque vitae.
          Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare. Cras ornare arcu dui vivamus arcu felis.
          Proin sed libero enim sed faucibus turpis in eu mi. Convallis tellus id interdum velit laoreet. Massa vitae
          tortor condimentum lacinia quis vel eros.</p>
      </div>
    </div>

    <div class="service">
      <img class="service-img" src="../images/chinese_translation.png" alt="vs code" />
      <div class="service-content">
        <h2 class="service-title">5. Chinese Translation</h2>
        <p>Ipsum nunc aliquet bibendum enim. Posuere ac ut consequat semper viverra nam. Aliquet porttitor lacus luctus
          accumsan tortor posuere ac ut. Risus ultricies tristique nulla aliquet enim tortor at. Purus faucibus ornare
          suspendisse sed nisi lacus. Id velit ut tortor pretium viverra. Etiam dignissim diam quis enim. Sociis natoque
          penatibus et magnis dis parturient montes nascetur ridiculus. Senectus et netus et malesuada fames ac turpis
          egestas integer. Blandit massa enim nec dui nunc mattis enim.</p>
      </div>
    </div>

  </div>
  <%- include("./partials/footer"); -%>