/*Home Page*/
.hmpgTopContainer{
    background-color: cyan;
    height: 80%;
    padding: 5% 2% 2%;
    }
    
    .welcomeMsg{
        font-family: 'Carattere', cursive;
        
    }

    .animate-charcter
{
   text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 10rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.myName{
    font-family: 'Lobster', sans-serif;
    font-size: 3.5rem;
}

.profession{
    font-family: 'Sofia', cursive;
    font-size: 2.5rem;
    width: 80%;
}

.intro{
    width: 83%;
    font-family: 'Inria Serif', serif;
    font-size: 1.5rem;
    font-weight: 400;
}