/*Home Page*/
.hmpgTopContainer {
  /*background-color: cyan;*/
  background-image: url(../images/gradPic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(50px);
  height: 80%;
  padding: 25% 2% 2%;
}

.welcomeMsg {
  font-family: 'Carattere', cursive;
  font-size: 500%;
  padding: 0 2% 2% 0;
}

.animate-charcter {
  text-transform: capitalize;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  text-wrap: wrap;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.myName {
  font-family: 'Libre Bodoni', serif;
  font-size: 300%;
  font-weight: 700;
}

.profession {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 200%;
  background: linear-gradient(to right, #6b0e1a, #380688, #694313, #9e0e0e);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

/*.revealUp {
  opacity: 0;
  visibility: hidden;
}
*/
.intro {
  font-size: 150%;
  font-family: 'Fenix', serif;

}